<template>
  <div class="prediction-viewer">

    <div class="diff-box" v-if="difficulty">
      <div class="diff-title">Difficulty</div>
      <div class="diff-item">
        {{ difficulty }}
      </div>
      <div class="info">
        <div class="easy">
          <span class="left">Easy:</span>
          0~1300
        </div>
        <div class="normal">
          <span class="left">Normal:</span>
          1300~2000
        </div>
        <div class="hard">
          <span class="left">Hard:</span>
          2000~
        </div>
      </div>
    </div>

    <div class="tag-box" v-if="show">
      <div class="tag-title">Predicted tag</div>
      <div class="tag-item" v-for="tag in labels" v-bind:key="tag">
        {{ tag }}
      </div>
    </div>

    <div class="related-box" v-if="show">
      <div class="related-title">Similar problems</div>
      <div v-if="difficulty">
        <div class="related-item" v-for="r in RelatedList" v-bind:key="r.t">
          <a :href="r.u" target="_blank" rel="noopener">{{ r.t }}</a>
        </div>
      </div>
      <div v-else>
        Not implemented for this language...
      </div>
    </div>

    <div class="tag-box-big">
      <div class="tag-title">Available tags</div>
      <div class="tag-list">
        <span class="tag-items" v-for="tag in available" v-bind:key="tag">
          <a :href="'http://letmegooglethat.com/?q=' + tag">{{ tag }}</a>
        </span>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'PredictionViewer',
    props: {
      labels: Array,
      available: Array,
      difficulty: Number,
      related: Object,
      show: Boolean,
    },
    computed: {
      RelatedList() {
        let ret = [];
        const base_url = 'https://codeforces.com/problemset/problem/';
        const len = 3;
        for (let i = 0; i < len; i++) {
          const r = this.related[i];
          ret.push({
            'u': base_url + r['c'] + '/' + r['l'],
            't': r['t'],
          });
        }
        return ret;
      },
    },
  };
</script>

<style scoped>
  a {
    color: var(--yellow);
  }

  a:hover {
    text-decoration: underline;
  }

  .prediction-viewer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .tag-box {
    background: var(--bg-light);
    flex: 0 1 40%;
    margin: 40px 20px 0 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .tag-box-big {
    background: var(--bg-light);
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .tag-title {
    font-size: 1.2rem;
    color: var(--orange);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--accent-dark);
    padding-bottom: 5px;
  }

  .tag-item {
    padding: 5px 15px;
  }

  .tag-items {
    padding: 5px 15px;
    display: inline-block;
  }

  .tag-title {
    font-size: 1.2rem;
    color: var(--orange);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--accent-dark);
    padding-bottom: 5px;
  }

  .diff-box {
    background: var(--bg-light);
    flex: 0 1 40%;
    margin: 40px 20px 0 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .diff-title {
    font-size: 1.2rem;
    color: var(--yellow);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--accent-dark);
    padding-bottom: 5px;
  }

  .diff-item {
    padding: 5px 15px;
  }

  .related-box {
    background: var(--bg-light);
    flex: 1 1 40%;
    margin: 40px 20px 0 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .related-title {
    font-size: 1.2rem;
    color: var(--purple);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--accent-dark);
    padding-bottom: 5px;
  }

  .related-item {
    padding: 5px 15px;
  }

  .info {
    text-align: left;
  }

  .left {
    display: inline-block;
    width: 4rem;
  }

  .easy {
    color: var(--green);
  }

  .normal {
    color: var(--blue);
  }

  .hard {
    color: var(--red);
  }
</style>
