<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/ja">Japanese</router-link>
      |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
  :root {
    --bg-dark: #282828;
    --bg-light: #3c3836;
    --bg-lighter: #504945;
    --fg-dark: #ebdbb2;
    --fg-light: #fbf1c7;
    --accent-dark: #689d6a;
    --accent-light: #8ec07c;
    --border: #689d6a;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background: var(--bg-dark);
    color: var(--fg-dark);
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--accent-dark);
    text-decoration: none;
    outline: none;
  }

  button {
    background: var(--bg-dark);
    color: var(--fg-dark);
    border-color: var(--accent-dark);
  }

  #app {
    text-align: center;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
  }

  #nav {
    padding: 10px;
  }

  #nav a {
    font-weight: bold;
  }

  #nav a.router-link-exact-active {
    color: var(--accent-light);
  }
</style>

