<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <link href="<%= BASE_URL %>favicon.ico" rel="icon">
  <title>frontend</title>
</head>
<body>
<noscript>
  <strong>We're sorry but frontend doesn't work properly without JavaScript
    enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
