<template>
  <div class="about">
    <div class="japanese">
      <h1>Japanese</h1>
      <div class="accuracy">
        <h2>Accuracy</h2>
        <div class="classification">
          Tag: 0.87
        </div>
      </div>
      <div class="train">
        <h2>Train result</h2>
        <h3>Tag</h3>
        <img alt="acc_ja" src="../static/loss_ja.png"/>
        <img alt="acc_ja" src="../static/acc_ja.png"/>
      </div>
    </div>
    <div class="english">
      <h1>English</h1>
      <div class="accuracy">
        <h2>Accuracy</h2>
        <div class="classification">
          Tag: 0.12 (Single tag acc: 0.31)
        </div>
        <div class="regression">
          Difficulty Loss: 0.83
        </div>
      </div>
      <div class="train">
        <h2>Train result</h2>
        <h3>Tag</h3>
        <img alt="acc_ja" src="../static/loss_l.png"/>
        <img alt="acc_ja" src="../static/acc_l.png"/>
        <h3>Difficulty</h3>
        <img alt="acc_ja" src="../static/loss_d.png"/>
      </div>
    </div>
  </div>
</template>
