<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <TextForm @submit="onSubmit"></TextForm>
    <div class="loader" v-show="loading">Loading...</div>
    <PredictionViewer :show="show"
                      :difficulty="0"
                      :labels="labels"
                      :available="available"></PredictionViewer>
  </div>
</template>

<script>
  import axios from 'axios';
  import TextForm from '@/components/TextForm';
  import PredictionViewer from '@/components/PredictionViewer';

  export default {
    name: 'Japanese',
    components: {
      PredictionViewer,
      TextForm,
    },
    props: {
      predict_url: String,
      tags_url: String,
    },
    data() {
      return {
        labels: [],
        available: [],
        loading: false,
        show: false,
      };
    },
    methods: {
      onSubmit(text) {
        this.loading = true;
        axios.post(this.predict_url, {text: text}).then(res => {
          this.labels = [res.data['label']];
          this.loading = false;
          this.show = true;
        });
      },
    },
    mounted() {
      axios.get(this.tags_url).then(res => {
        this.available = res.data['tags'];
      });
    },
  };
</script>

<style scoped>
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
